{% extends 'base.html' %}

{% block title %} -- Shop{% endblock %}

{% block content %}
    
    <div id='store-page'>
        
        <div id='product-list'>
            {% for product in products %}
                <a class="product-container" href="{% url 'storefront_app:product_detail' product.id %}">
                    <img class='main-product-image' src="{{ product.main_image.url }}">
                    <div class="product-info">
                        <div class="product-title">{{product.title}}</div>
                        <div class="product-price">${{product.get_display_price|floatformat:2}}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}